<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
<div><a style="padding-left:10vh;text-decoration: none;line-height: 1.4;font-size: 1.4rem;" href="tel:+1-847-496-4127">847-496-4127</a></div>    
<a href="https://www.massagebook.com/biz/J2MassagePc#services"><img style="padding-left:5vh;" src="https://www.massagebook.com/home/img/getbutton/button-booknow.png" alt="Book Now on MassageBook.com!" border="0"></a>
</div>
<span class="nav-cover"></span>
